
.searchContainer {
    margin-top: 30px;
    margin-left: 200px;
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    text-align: center;
    
}

.searchInput {
    width:30%;
    padding: 12px 20px;
    border: solid #39ff14 1px;
    border-radius: 7px 0px 0px 7px;
    
}

.searchIcon {
    background-image: url("../../../public/loupe_78956.svg");
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    border: white;
    width: 20px;
    height: 20px;
  
    
}

.searchIcon:hover {
    scale: 1.2;
}

.searchIconContainer {
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border: solid #39ff14 1px;
    border-radius: 0px 7px 7px 0px;
    background-color: white;
}

.searchIconContainer:hover {
    box-shadow: inset 0 0 10px #39ff14;
}